<div class="textEntry-audio-inner component-inner" role="region" aria-label="{{_globals._components._textEntry-audio.ariaRegion}}">
    {{> component this}}
    <div class="textEntry-audio-widget component-widget">
		<div class="textEntry-audio-input">
		   	<textarea placeholder="{{compile placeholder}}" class="textEntry-audio-item-textbox" cols="2" rows="10"></textarea>
		</div>
    <div class="buttons">
	    <button class="textEntry-audio-button button" role="button" aria-label="{{_buttons._submit.ariaLabel}}">
	        {{_buttons._submit.buttonText}}
	    </button>
    </div>
    <div class="textEntry-popup" role="dialog" aria-label="">
      <div class="textEntry-popup-inner">
        <div class="textEntry-popup-content">
          <div class="textEntry-popup-content-inner">
            {{#if _showUserAnswer}}
              {{#if _feedback.title}}
              <div class="textEntry-popup-title">
                <div class="textEntry-popup-title-inner h5" tabindex="0" role="heading" aria-level="1">
                  {{{compile _feedback.title}}}
                </div>
              </div>
              {{/if}}
              {{#if _feedback.userTitle}}
              <div class="textEntry-popup-user-title">
                {{{compile _feedback.userTitle}}}
              </div>
              {{/if}}
              <div class="textEntry-popup-user-answer">
                {{{compile userAnswer}}}
              </div>
              {{#if _feedback.answerTitle}}
              <div class="textEntry-popup-feedback-title">
                {{{compile _feedback.answerTitle}}}
              </div>
              {{/if}}
              {{#if _feedback.body}}
              <div class="textEntry-popup-body">
                <div class="textEntry-popup-body-inner">
                  {{{compile_a11y_text _feedback.body}}}
                </div>
              </div>
              {{/if}}
            {{else}}
              {{#if _feedback.answerTitle}}
              <div class="textEntry-popup-title">
                <div class="textEntry-popup-title-inner h5" tabindex="0" role="heading" aria-level="1">
                  {{{compile _feedback.answerTitle}}}
                </div>
              </div>
              {{/if}}
              {{#if _feedback.body}}
              <div class="textEntry-popup-body">
                <div class="textEntry-popup-body-inner">
                  {{{compile_a11y_text _feedback.body}}}
                </div>
              </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
        <div class="textEntry-popup-buttons">
          <button class="textEntry-popup-close" role="button" aria-label="{{#if _buttons._closeFeedback.ariaLabel}}{{_buttons._closeFeedback.ariaLabel}}{{else}}{{_globals._accessibility._ariaLabels.closePopup}}{{/if}}">
            {{#if _buttons._closeFeedback.buttonText}}{{{_buttons._closeFeedback.buttonText}}}{{else}}{{{_globals._accessibility._ariaLabels.closePopup}}}{{/if}}
          </button>
        </div>
      </div>
    </div>
	</div>
</div>
